/*
Based on tutorial: https://www.youtube.com/watch?v=nG2IyH43xMU
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-color: #333;
  --border-color: #555;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

#nav-logo-section {
  justify-content: flex-start;
}

#nav-logo-section > a > i {
  font-size: 1rem;
}

#nav-link-section {
  gap: 6rem;
}

#nav-social-section {
  gap: 3rem;
}

nav > .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: cneter;
  justify-content: center;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 2.5);
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

main > .grid-layout {
  display: grid;
  height: 100%;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 1fr;
}

main > .grid-layout > .grid-item {
  height: 100%;
}

main > .grid-layout > .grid-description,
main > .grid-layout > .grid-contact {
  border-left: 1px solid var(--border-color);
}

main > .grid-layout > .grid-image,
main > .grid-layout > .grid-description {
  border-bottom: 1px solid var(--border-color);
}

main > .grid-layout > .grid-image > img {
  max-width: 100%;
  height: auto;
}
